$main-font: 'Roboto', sans-serif;
$additional-font: 'Open Sans', sans-serif;
$h2-color: #515151;
$text-color: #555252;
$nav-text-color: #0f0101;
$nav-choice-color: #38c1a4;
$h3-color: #ffffff;
$price-text-color: #ffffff;
$h3-background-color: #323232;
$price-background-color: #8c8c8c;
$h3-choice-background-color: #1abc9c;
$price-choice-background-color: #7fd9c7;
$image-background-color: #e8effc;
$blog-link-text: #ffffff;
$blog-link-background: #4ec6ab;
$header__contacts-background: #1abc9c;
$header__data-text: #ffffff;
$links-text: #ffffff;
$banner-text: #ffffff;
$animation-time: 250ms;
$action-button-choice-background: #1abc9c;