/*common classes (New collection and Featured)*/
.action {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 166px;
    height: 108px;
    flex-shrink: 0;
    flex-grow: 0;
    position: absolute;
    justify-content: center;
    top: 28%;
    opacity: 0;
    transition: opacity $animation-time linear 250ms;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
  }
  
  .action__button {
    display: flex;
    justify-content: center;
    flex-basis: 50px;
    height: 50px;
    border: 1px #ffffff solid;
    padding: 0px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color $animation-time cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: $action-button-choice-background;
    }
    &:nth-child(-n + 2) {
      margin-right: 8px;
    }
    &--basket {
      display: flex;
      font-family: $additional-font;
      font-size: 14px;
      background-color: #323232;
      color: #ffffff;
      flex-basis: 166px;
      justify-content: space-around;
      align-items: center;
    }
  }
  
  .action__icon {
    display: block;
    fill: #ffffff;
    width: 30px;
    height: 30px;
  }