/*common classes*/
.links {
    text-decoration: none;
    color: $links-text;
    font-family: $additional-font;
    font-weight: 300;
    font-size: 14px;
    transition: color $animation-time cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  /*data__tel-> header__data -> HEADER*/
  .tel-data__link {
    display: block;
    position: absolute;
    left: 25px;
  }
  
  /*data__email-> header__data -> HEADER*/
  .email-data__link {
    display: block;
    position: absolute;
    left: 30px;
  }
  
  /*data__nav-> header__data -> HEADER*/
  .nav-data__link {
    padding-left: 13px;
    padding-right: 13px;
    &:hover,
    &:focus {
      color: black;
    }
  }
  
  /*header__content -> HEADER*/
  .nav-menu__link {
    padding-left: 13px;
    padding-right: 13px;
    color: $nav-text-color;
    font-weight: bold;
    &:hover,
    &:focus {
      color: $nav-choice-color;
    }
  }
  
  /*baner section*/
  .banner__link {
    display: block;
    width: 120px;
    height: 42px;
    background-color: #1abc9c;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    font-weight: 400;
    transition: background-color $animation-time cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: darkorange;
    }
  }
  
  /*BLOG section*/
  .item-blog__link {
    display: block;
    text-align: center;
    width: 160px;
    height: 52px;
    font-family: $additional-font;
    background-color: $blog-link-background;
    color: $blog-link-text;
    font-size: 16px;
    line-height: 26px;
    padding-top: 13px;
    padding-bottom: 13px;
    transition: background-color $animation-time cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      background-color: $h3-background-color;
    }
  }