/*HEADER*/
.header {
    min-height: 140px;
  }
  
  /*header__contacts -> HEADER*/
  .header__contacts {
    background-color: $header__contacts-background;
  }
  
  .header__data {
    display: flex;
    align-items: center;
    height: 50px;
    color: $header__data-text;
  }
  
  /*data__tel-> header__data -> HEADER*/
  .tel-data {
    display: flex;
    align-items: center;
    flex-basis: 130px;
    min-height: 20px;
    position: relative;
    margin-right: 30px;
    align-items: center;
    &::before {
      content: '';
      display: block;
      position: absolute;
      background-image: url('../images/icons/phone.svg');
      width: 20px;
      height: 20px;
      left: 0px;
    }
  }
  
  /*data__email-> header__data -> HEADER*/
  .email-data {
    display: flex;
    flex-basis: 130px;
    min-height: 20px;
    position: relative;
    align-items: center;
    &::before {
      content: '';
      display: block;
      position: absolute;
      background-image: url('../images/icons/mail.svg');
      width: 20px;
      height: 20px;
      left: 0px;
    }
  }
  
  /*data__nav-> header__data -> HEADER*/
  .nav-data {
    margin-left: auto;
  }
  
  .nav-data__item {
    text-transform: uppercase;
  }